@import 'Colors.scss';

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: $main-color;
    color: white;

    .logo-git {
        display: none;
    }
    
    .contact {
        color: inherit;
    }
}

@media screen and (max-width: 425px) {

    footer {

        .logo-git {
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
        }

        .contact {
            font-size: 12px;
        }
    }
}
