@import 'Colors.scss';

#Gallery {
    margin: 50px 0;    
    display: flex;
    justify-content: center;

    h2 {
        font-size: 35px;
    }

    .gallery-container {
        width: 95%;
        text-align: center;

        .gallery-blocks-container {    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
    
            .gallery-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 98%;
                height: 350px;
                mix-blend-mode: multiply;
                overflow: hidden;
                position: relative;
                margin: auto;
                cursor: pointer;
                margin-bottom: 20px;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                
                .gallery-img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    mix-blend-mode: multiply;
                    object-fit: cover;
                    object-position: top;
                }

                .project-details {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $secondary-opaque-color;
                    color: $main-color;
                    z-index: 2;
                    opacity: 0;
                    pointer-events: auto;
                }
                
                &:hover {
                    .project-details {
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
