.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .card-collapse-container{
        display: flex;
        width: 100%;
        gap: 30px;
    
        .collapse{
            width: 90%;
        }
    }
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    .infos-title{
        width: 70%;
    }

    .host-infos{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        font-weight: bold;
        align-items: end;

        .host{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 60%;
    
            img{
                border-radius: 100%;
                width: 75px;
            }
        }
    }
}

@media screen and (max-width: 455px) {

    .card{
        display: block;

        .infos-title{
            width: 100%;
        }

        .host-infos{
            display: flex;
            flex-direction: row;
            

            .stars{
                display: flex;
            }
        }
    }
  }
  
    .card-collapse-container{
        margin-top: 30px;
    }