

div{
    font-family: 'Montserrat', sans-serif;

    .error{
        display: flex;
        flex-direction: column;
        color: #FF6060;
        text-align: center;
        gap: 150px;
    
        span{
            margin: 0;
            font-size: 597px;
            font-weight: bold;
        }
        p{
            font-size: 36px;
        }
        .redirect{
            color: inherit;
            font-size: 18px;
        }
    }
}