.tags{
    ul{
        display: flex;
        padding: 0;
        gap: 30px;
        li{
            list-style: none;
            background-color: #FF6060;
            height: auto;
            width: auto;
            color: white;
            padding: 5px 20px;
            border-radius: 10px;
            font-size: 14px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 455px) {

    .tags{
        ul{
            gap: 10px;
            li{
                width: 95px;
                font-size: 10px;
                padding: 5px 10px;

            }
        }
    }
  }